CREATE DATABASE [RigForge_DB]
GO
USE [RigForge_DB]
GO
/****** Object:  Table [dbo].[Adresler]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresler](
	[AdresID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[AdresBasligi] [nvarchar](50) NOT NULL,
	[Il] [nvarchar](50) NOT NULL,
	[Ilce] [nvarchar](50) NOT NULL,
	[AcikAdres] [nvarchar](500) NOT NULL,
	[PostaKodu] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdresID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnakartOzellikleri]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnakartOzellikleri](
	[AnakartID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[Soket] [nvarchar](50) NOT NULL,
	[Chipset] [nvarchar](50) NULL,
	[RamTipi] [nvarchar](20) NULL,
	[MaksimumRamGB] [int] NULL,
	[RamSlotu] [int] NULL,
	[M2Slotu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnakartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepolamaOzellikleri]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepolamaOzellikleri](
	[DepolamaID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[DepolamaTipi] [nvarchar](20) NOT NULL,
	[KapasiteGB] [int] NOT NULL,
	[Arayuz] [nvarchar](30) NULL,
	[OkumaHiziMB] [int] NULL,
	[YazmaHiziMB] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepolamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EkranKartiOzellikleri]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EkranKartiOzellikleri](
	[EkranKartiID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[BellekGB] [int] NOT NULL,
	[BellekTipi] [nvarchar](20) NULL,
	[TDP] [int] NULL,
	[MinimumPSUWatt] [int] NULL,
	[UzunlukMM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EkranKartiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GucKaynagiOzellikleri]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GucKaynagiOzellikleri](
	[GucKaynagiID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[Watt] [int] NOT NULL,
	[VerimlilikSertifikasi] [nvarchar](30) NULL,
	[Modulerlik] [nvarchar](30) NULL,
	[FormFaktor] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[GucKaynagiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HazirSistemler]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HazirSistemler](
	[SistemID] [int] IDENTITY(1,1) NOT NULL,
	[SistemAdi] [nvarchar](100) NOT NULL,
	[Seviye] [nvarchar](30) NOT NULL,
	[Aciklama] [nvarchar](500) NULL,
	[Fiyat] [decimal](12, 2) NOT NULL,
	[ResimURL] [nvarchar](500) NULL,
	[AktifMi] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SistemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HazirSistemParcalari]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HazirSistemParcalari](
	[SistemParcaID] [int] IDENTITY(1,1) NOT NULL,
	[SistemID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Adet] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SistemParcaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HazirSistemParcalari] UNIQUE NONCLUSTERED 
(
	[SistemID] ASC,
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IslemciOzellikleri]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IslemciOzellikleri](
	[IslemciID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[Soket] [nvarchar](50) NOT NULL,
	[CekirdekSayisi] [int] NOT NULL,
	[IzlekSayisi] [int] NOT NULL,
	[TemelFrekans] [decimal](4, 2) NULL,
	[BoostFrekans] [decimal](4, 2) NULL,
	[TDP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IslemciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KasaOzellikleri]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KasaOzellikleri](
	[KasaID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[FormFaktor] [nvarchar](30) NULL,
	[MaksimumGpuUzunluguMM] [int] NULL,
	[MaksimumRadyatorMM] [int] NULL,
	[FanYuvalari] [int] NULL,
	[TemperliCam] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KasaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KategoriAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](255) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[KayitTarihi] [datetime] NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KuponKodlari]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KuponKodlari](
	[KuponKoduID] [int] IDENTITY(1,1) NOT NULL,
	[Kod] [nvarchar](50) NOT NULL,
	[KuponTuru] [nvarchar](20) NOT NULL,
	[KuponDegeri] [decimal](10, 2) NOT NULL,
	[MinimumSepetTutari] [decimal](12, 2) NULL,
	[BaslangicTarihi] [datetime] NOT NULL,
	[BitisTarihi] [datetime] NOT NULL,
	[KullanimLimiti] [int] NULL,
	[KullanilmaSayisi] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KuponKoduID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Markalar]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markalar](
	[MarkaID] [int] IDENTITY(1,1) NOT NULL,
	[MarkaAdi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MarkaAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RamOzellikleri]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RamOzellikleri](
	[RamID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[KapasiteGB] [int] NOT NULL,
	[RamTipi] [nvarchar](20) NOT NULL,
	[HizMHz] [int] NOT NULL,
	[ModulSayisi] [int] NULL,
	[RGB] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SepetDetaylari]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SepetDetaylari](
	[SepetDetayID] [int] IDENTITY(1,1) NOT NULL,
	[SepetID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Adet] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SepetDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Sepet_Urun] UNIQUE NONCLUSTERED 
(
	[SepetID] ASC,
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sepetler]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sepetler](
	[SepetID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SepetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisDetaylari]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetaylari](
	[SiparisDetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[BirimFiyat] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[AdresID] [int] NOT NULL,
	[SiparisTarihi] [datetime] NOT NULL,
	[ToplamTutar] [decimal](12, 2) NOT NULL,
	[SiparisDurumu] [nvarchar](30) NOT NULL,
	[OdemeYontemi] [nvarchar](50) NOT NULL,
	[OdemeDurumu] [nvarchar](30) NOT NULL,
	[KuponTutari] [decimal](12, 2) NOT NULL,
	[KuponKoduID] [int] NULL,
	[KargoTakipNo] [nvarchar](100) NULL,
	[KargoFirmasi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SogutucuOzellikleri]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SogutucuOzellikleri](
	[SogutucuID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[SogutucuTipi] [nvarchar](30) NOT NULL,
	[RadyatorBoyutuMM] [int] NULL,
	[FanBoyutuMM] [int] NULL,
	[MaksimumTDP] [int] NULL,
	[DesteklenenSoketler] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SogutucuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 19.07.2026 22:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](200) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[Stok] [int] NOT NULL,
	[ResimURL] [nvarchar](500) NULL,
	[KategoriID] [int] NOT NULL,
	[MarkaID] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[HazirSistemler] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[HazirSistemParcalari] ADD  DEFAULT ((1)) FOR [Adet]
GO
ALTER TABLE [dbo].[KasaOzellikleri] ADD  DEFAULT ((0)) FOR [TemperliCam]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ('Kullanici') FOR [Rol]
GO
ALTER TABLE [dbo].[KuponKodlari] ADD  DEFAULT ((0)) FOR [MinimumSepetTutari]
GO
ALTER TABLE [dbo].[KuponKodlari] ADD  DEFAULT ((0)) FOR [KullanilmaSayisi]
GO
ALTER TABLE [dbo].[KuponKodlari] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[RamOzellikleri] ADD  DEFAULT ((0)) FOR [RGB]
GO
ALTER TABLE [dbo].[SepetDetaylari] ADD  DEFAULT ((1)) FOR [Adet]
GO
ALTER TABLE [dbo].[Sepetler] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[Sepetler] ADD  DEFAULT (getdate()) FOR [GuncellemeTarihi]
GO
ALTER TABLE [dbo].[SiparisDetaylari] ADD  DEFAULT ((1)) FOR [Adet]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (getdate()) FOR [SiparisTarihi]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ('Hazirlaniyor') FOR [SiparisDurumu]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ('Bekliyor') FOR [OdemeDurumu]
GO
ALTER TABLE [dbo].[Siparisler] ADD  CONSTRAINT [DF_Siparisler_KuponTutari]  DEFAULT ((0)) FOR [KuponTutari]
GO
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [DF_Urunler_AktifMi]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [DF_Urunler_OlusturmaTarihi]  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[Adresler]  WITH CHECK ADD  CONSTRAINT [FK_Adresler_Kullanicilar] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adresler] CHECK CONSTRAINT [FK_Adresler_Kullanicilar]
GO
ALTER TABLE [dbo].[AnakartOzellikleri]  WITH CHECK ADD  CONSTRAINT [FK_Anakart_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[AnakartOzellikleri] CHECK CONSTRAINT [FK_Anakart_Urun]
GO
ALTER TABLE [dbo].[DepolamaOzellikleri]  WITH CHECK ADD  CONSTRAINT [FK_Depolama_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[DepolamaOzellikleri] CHECK CONSTRAINT [FK_Depolama_Urun]
GO
ALTER TABLE [dbo].[EkranKartiOzellikleri]  WITH CHECK ADD  CONSTRAINT [FK_EkranKarti_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[EkranKartiOzellikleri] CHECK CONSTRAINT [FK_EkranKarti_Urun]
GO
ALTER TABLE [dbo].[GucKaynagiOzellikleri]  WITH CHECK ADD  CONSTRAINT [FK_GucKaynagi_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[GucKaynagiOzellikleri] CHECK CONSTRAINT [FK_GucKaynagi_Urun]
GO
ALTER TABLE [dbo].[HazirSistemParcalari]  WITH CHECK ADD  CONSTRAINT [FK_HazirSistemParcalari_HazirSistemler] FOREIGN KEY([SistemID])
REFERENCES [dbo].[HazirSistemler] ([SistemID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HazirSistemParcalari] CHECK CONSTRAINT [FK_HazirSistemParcalari_HazirSistemler]
GO
ALTER TABLE [dbo].[HazirSistemParcalari]  WITH CHECK ADD  CONSTRAINT [FK_HazirSistemParcalari_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[HazirSistemParcalari] CHECK CONSTRAINT [FK_HazirSistemParcalari_Urunler]
GO
ALTER TABLE [dbo].[IslemciOzellikleri]  WITH CHECK ADD  CONSTRAINT [FK_Islemci_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[IslemciOzellikleri] CHECK CONSTRAINT [FK_Islemci_Urun]
GO
ALTER TABLE [dbo].[KasaOzellikleri]  WITH CHECK ADD  CONSTRAINT [FK_Kasa_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[KasaOzellikleri] CHECK CONSTRAINT [FK_Kasa_Urun]
GO
ALTER TABLE [dbo].[RamOzellikleri]  WITH CHECK ADD  CONSTRAINT [FK_Ram_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[RamOzellikleri] CHECK CONSTRAINT [FK_Ram_Urun]
GO
ALTER TABLE [dbo].[SepetDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SepetDetaylari_Sepetler] FOREIGN KEY([SepetID])
REFERENCES [dbo].[Sepetler] ([SepetID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SepetDetaylari] CHECK CONSTRAINT [FK_SepetDetaylari_Sepetler]
GO
ALTER TABLE [dbo].[SepetDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SepetDetaylari_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[SepetDetaylari] CHECK CONSTRAINT [FK_SepetDetaylari_Urunler]
GO
ALTER TABLE [dbo].[Sepetler]  WITH CHECK ADD  CONSTRAINT [FK_Sepetler_Kullanicilar] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sepetler] CHECK CONSTRAINT [FK_Sepetler_Kullanicilar]
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetaylari_Siparisler] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SiparisDetaylari] CHECK CONSTRAINT [FK_SiparisDetaylari_Siparisler]
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetaylari_Urunler] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[SiparisDetaylari] CHECK CONSTRAINT [FK_SiparisDetaylari_Urunler]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Adresler] FOREIGN KEY([AdresID])
REFERENCES [dbo].[Adresler] ([AdresID])
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Adresler]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Kullanicilar] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Kullanicilar]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_KuponKodlari] FOREIGN KEY([KuponKoduID])
REFERENCES [dbo].[KuponKodlari] ([KuponKoduID])
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_KuponKodlari]
GO
ALTER TABLE [dbo].[SogutucuOzellikleri]  WITH CHECK ADD  CONSTRAINT [FK_Sogutucu_Urun] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[SogutucuOzellikleri] CHECK CONSTRAINT [FK_Sogutucu_Urun]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Kategoriler] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Kategoriler]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Markalar] FOREIGN KEY([MarkaID])
REFERENCES [dbo].[Markalar] ([MarkaID])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Markalar]
GO
ALTER TABLE [dbo].[HazirSistemler]  WITH CHECK ADD  CONSTRAINT [CK_HazirSistemler_Fiyat] CHECK  (([Fiyat]>=(0)))
GO
ALTER TABLE [dbo].[HazirSistemler] CHECK CONSTRAINT [CK_HazirSistemler_Fiyat]
GO
ALTER TABLE [dbo].[HazirSistemler]  WITH CHECK ADD  CONSTRAINT [CK_HazirSistemler_Seviye] CHECK  (([Seviye]='Yayinci' OR [Seviye]='Ust Seviye' OR [Seviye]='Orta Seviye' OR [Seviye]='Baslangic'))
GO
ALTER TABLE [dbo].[HazirSistemler] CHECK CONSTRAINT [CK_HazirSistemler_Seviye]
GO
ALTER TABLE [dbo].[HazirSistemParcalari]  WITH CHECK ADD  CONSTRAINT [CK_HazirSistemParcalari_Adet] CHECK  (([Adet]>(0)))
GO
ALTER TABLE [dbo].[HazirSistemParcalari] CHECK CONSTRAINT [CK_HazirSistemParcalari_Adet]
GO
ALTER TABLE [dbo].[KuponKodlari]  WITH CHECK ADD  CONSTRAINT [CK_KuponKodlari_KuponDegeri] CHECK  (([KuponDegeri]>(0)))
GO
ALTER TABLE [dbo].[KuponKodlari] CHECK CONSTRAINT [CK_KuponKodlari_KuponDegeri]
GO
ALTER TABLE [dbo].[KuponKodlari]  WITH CHECK ADD  CONSTRAINT [CK_KuponKodlari_KuponTuru] CHECK  (([KuponTuru]='Sabit' OR [KuponTuru]='Yuzde'))
GO
ALTER TABLE [dbo].[KuponKodlari] CHECK CONSTRAINT [CK_KuponKodlari_KuponTuru]
GO
ALTER TABLE [dbo].[KuponKodlari]  WITH CHECK ADD  CONSTRAINT [CK_KuponKodlari_Tarih] CHECK  (([BitisTarihi]>[BaslangicTarihi]))
GO
ALTER TABLE [dbo].[KuponKodlari] CHECK CONSTRAINT [CK_KuponKodlari_Tarih]
GO
ALTER TABLE [dbo].[SepetDetaylari]  WITH CHECK ADD  CONSTRAINT [CK_SepetDetaylari_Adet] CHECK  (([Adet]>(0)))
GO
ALTER TABLE [dbo].[SepetDetaylari] CHECK CONSTRAINT [CK_SepetDetaylari_Adet]
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [CK_SiparisDetaylari_Adet] CHECK  (([Adet]>(0)))
GO
ALTER TABLE [dbo].[SiparisDetaylari] CHECK CONSTRAINT [CK_SiparisDetaylari_Adet]
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [CK_SiparisDetaylari_BirimFiyat] CHECK  (([BirimFiyat]>=(0)))
GO
ALTER TABLE [dbo].[SiparisDetaylari] CHECK CONSTRAINT [CK_SiparisDetaylari_BirimFiyat]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [CK_Siparisler_ToplamTutar] CHECK  (([ToplamTutar]>=(0)))
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [CK_Siparisler_ToplamTutar]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [CK_Urunler_Fiyat] CHECK  (([Fiyat]>=(0)))
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [CK_Urunler_Fiyat]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [CK_Urunler_Stok] CHECK  (([Stok]>=(0)))
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [CK_Urunler_Stok]
GO
